<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div class="span9" xmlns:jsp="http://java.sun.com/JSP/Page"
     xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:spring="http://www.springframework.org/tags"
     xmlns:sping="http://www.springframework.org/tags"
     version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <div class="container">
        <c:choose>
            <c:when test="${not empty items}">
                <c:set value="0" var="index"/>

                <c:forEach items="${items}" var="item">
                    <c:choose>
                        <c:when test="${index % 3 == 0}">
                            <![CDATA[<div class="row-fluid"><ul class="thumbnails">]]>
                        </c:when>
                    </c:choose>
                    <jsp:directive.include file="../../../fragments/item.jspx"/>
                    <c:choose>
                        <c:when test="${index % 3 == 2}">
                            <![CDATA[</ul></div>]]>
                        </c:when>
                    </c:choose>
                    <c:set value="${index+1}" var="index"/>
                </c:forEach>

            </c:when>
            <c:otherwise>
                <div class="row">
                    <div class="span12">
                        Category is empty
                    </div>
                </div>
            </c:otherwise>
        </c:choose>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="pager">
                <spring:url var="url_prev_page" value="/shop/category/${currentCategory}/page/${prevPageNo}"/>
                <spring:url var="url_next_page" value="/shop/category/${currentCategory}/page/${pageNo+1}"/>
                <li class="previous ${not empty prevPageNo and prevPageNo eq 0 and pageNo eq 0 ? 'disabled':''}"><a
                        href="${not empty prevPageNo and prevPageNo eq 0 and pageNo eq 0 ? '#' : url_prev_page }">&amp;larr;
                    <sping:message code="pager.prev"/></a></li>
                <li class="next ${not empty lastPage and lastPage ? 'disabled':''}"><a
                        href="${not empty lastPage and lastPage ? '#' : url_next_page }"><sping:message
                        code="pager.next"/> &amp;rarr;</a></li>
            </ul>
        </div>
    </div>
</div>